/* You can add global styles to this file, and also import other style files */
$mainColor: #666666; //9D9B86
$secondColor: #EB8921; //EB8921 FF9900
$fontColor1: #1E1E1E;
$fontColor2: white;

$desktop: 840px;

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

body {
	background-color: $mainColor;
	font-family: "Open Sans", sans-serif;
}